@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body, html {
    width: 100%;
    height: 100%
}

body {
    color: #666666;
    font-family: Verdana, Arial, "Microsoft YaHei", "微软雅黑", "宋体", sans-serif !important;
    background: #fff;
    max-width: 750px;
    margin: 0 auto
}

dd, div, dt, h1, h2, h3, h4, h5, h6, img, li, ol, p, ul {
    margin: 0;
    padding: 0
}

h2 {
    font-size: .5333rem !important;
    color: #000
}

h3 {
    font-size: .426666rem !important;
    color: #000
}

h4 {
    font-size: .37333rem !important;
    color: #000
}

div, p {
    font-size: .37333rem
}

dl, li, ol, ul {
    list-style: none
}

img {
    border: none;
    display: block
}

a {
    text-decoration: none;
    color: #666;
    cursor: pointer
}

@font-face {
    font-family: 'iconfont';  /* project id 1153128 */
    src: url('https://at.alicdn.com/t/font_1153128_7npapnlramb.eot');
    src: url('https://at.alicdn.com/t/font_1153128_7npapnlramb.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1153128_7npapnlramb.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1153128_7npapnlramb.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1153128_7npapnlramb.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1153128_7npapnlramb.svg#iconfont') format('svg');
}

.iconfont {
    font-family: iconfont;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    text-align: center
}

input, select, textarea {
    border: none;
    font-size: .37333rem;
    font-family: "Microsoft YaHei", "微软雅黑";
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    color: #666;
    background: #fff
}

[placeholder], input[placeholder], textarea[placeholder] {
    font-family: "Microsoft YaHei", "微软雅黑";
    color: #999
}

input::-webkit-input-placeholder {
    font-family: "Microsoft YaHei", "微软雅黑";
    color: #999
}

input:-moz-placeholder {
    font-family: "Microsoft YaHei", "微软雅黑";
    color: #999
}

input::-moz-placeholder {
    font-family: "Microsoft YaHei", "微软雅黑";
    color: #999
}

input:-ms-input-placeholder {
    font-family: "Microsoft YaHei", "微软雅黑";
    color: #999
}

button {
    border: none
}

.jui_none {
    display: none !important
}

.jui_block {
    display: block !important
}

.jui_w100 {
    width: 100% !important
}

.jui_clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.jui_fs11 {
    font-size: .293333rem !important
}

.jui_fs12 {
    font-size: .32rem !important
}

.jui_fs13 {
    font-size: .34666rem !important
}

.jui_fs14 {
    font-size: .37333rem !important
}

.jui_fs15 {
    font-size: .4rem !important
}

.jui_fs16 {
    font-size: .426666rem !important
}

.jui_fs17 {
    font-size: .45333rem !important
}

.jui_fs18 {
    font-size: .48rem !important
}

.jui_fs20 {
    font-size: .5333rem !important
}

.jui_fs24 {
    font-size: .64rem !important
}

.jui_fs28 {
    font-size: .74666rem !important
}

.jui_fs34 {
    font-size: .906666rem !important
}

.jui_fc_fff {
    color: #fff !important
}

.jui_fc_666 {
    color: #666 !important
}

.jui_fc_000 {
    color: #000 !important
}

.jui_fc_999 {
    color: #999 !important
}

.jui_fc_ddd {
    color: #ddd !important
}

.jui_fc_red {
    color: #eb4340 !important
}

.jui_fc_blue {
    color: #10aeff !important
}

.jui_fc_green {
    color: #09bb07 !important
}

.jui_fc_orange {
    color: #ff9600 !important
}

.jui_fc_zhuse {
    color: #7bb6f1
}

.jui_fc_fuse {
    color: #fff
}

.jui_text_left {
    text-align: left !important
}

.jui_text_center {
    text-align: center !important
}

.jui_text_right {
    text-align: right !important
}

.jui_font_weight {
    font-weight: 700
}

.jui_line_h12 {
    line-height: .50666rem
}

.jui_line_h13 {
    line-height: .5333rem
}

.jui_line_h14 {
    line-height: .58666rem
}

.jui_line_h15 {
    line-height: .61333rem
}

.jui_line_h30 {
    line-height: .8rem
}

.jui_bg_fff {
    background: #FFFEFF !important
}

.jui_bg_grey {
    background: #f6f6f6 !important
}

.jui_bg_green {
    background: #09bb07 !important
}

.jui_bg_red {
    background: #eb4340 !important
}

.jui_bg_blue {
    background: #10aeff !important
}

.jui_bg_none {
    background: 0 0 !important
}

.jui_bg_ccc {
    background: #ccc !important
}

.jui_bg_zhuse {
    background: #7bb6f1
}

.jui_bg_fuse {
    background: #fff
}

.jui_bor_left {
    border-left: 1px solid #eee !important
}

.jui_bor_right {
    border-right: 1px solid #eee !important
}

.jui_bor_top {
    border-top: 1px solid #eee !important
}

.jui_bor_bottom {
    border-bottom: 1px solid #eee !important
}

.jui_bor_none {
    border: none !important
}

.jui_bor_rad_5 {
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    overflow: hidden
}

.jui_bor_rad_8 {
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
    overflow: hidden
}

.jui_bor_rad_15 {
    -webkit-border-radius: .4rem !important;
    border-radius: .4rem !important;
    overflow: hidden
}

.jui_bor_rad_50 {
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    overflow: hidden
}

.jui_pad_1216 {
    padding: .32rem .4266rem !important
}

.jui_pad_5 {
    padding: 5px !important
}

.jui_pad_t5 {
    padding-top: 5px !important
}

.jui_pad_l5 {
    padding-left: 5px !important
}

.jui_pad_r5 {
    padding-right: 5px !important
}

.jui_pad_b5 {
    padding-bottom: 5px !important
}

.jui_pad_8 {
    padding: .32rem !important
}

.jui_pad_t8 {
    padding-top: .21333rem !important
}

.jui_pad_l8 {
    padding-left: .21333rem !important
}

.jui_pad_r8 {
    padding-right: .21333rem !important
}

.jui_pad_b8 {
    padding-bottom: .21333rem !important
}

.jui_pad_12 {
    padding: .32rem !important
}

.jui_pad_t12 {
    padding-top: .32rem !important
}

.jui_pad_l12 {
    padding-left: .32rem !important
}

.jui_pad_r12 {
    padding-right: .32rem !important
}

.jui_pad_b12 {
    padding-bottom: .32rem !important
}

.jui_pad_14 {
    padding: .37333rem !important
}

.jui_pad_t14 {
    padding-top: .37333rem !important
}

.jui_pad_l14 {
    padding-left: .37333rem !important
}

.jui_pad_r14 {
    padding-right: .37333rem !important
}

.jui_pad_b14 {
    padding-bottom: .37333rem !important
}

.jui_pad_16 {
    padding: .42666rem !important
}

.jui_pad_t16 {
    padding-top: .42666rem !important
}

.jui_pad_l16 {
    padding-left: .42666rem !important
}

.jui_pad_r16 {
    padding-right: .42666rem !important
}

.jui_pad_b16 {
    padding-bottom: .42666rem !important
}

.jui_pad_20 {
    padding: .5333rem !important
}

.jui_pad_t20 {
    padding-top: .5333rem !important
}

.jui_pad_l20 {
    padding-left: .5333rem !important
}

.jui_pad_r20 {
    padding-right: .5333rem !important
}

.jui_pad_b20 {
    padding-bottom: .5333rem !important
}

.jui_padnone {
    padding: 0 !important
}

.jui_pad_lnone {
    padding-left: 0 !important
}

.jui_pad_rnone {
    padding-right: 0 !important
}

.jui_pad_tnone {
    padding-top: 0 !important
}

.jui_pad_bnone {
    padding-bottom: 0 !important
}

.jui_mar_8 {
    margin: .32rem !important
}

.jui_mar_t8 {
    margin-top: .21333rem !important
}

.jui_mar_l8 {
    margin-left: .21333rem !important
}

.jui_mar_r8 {
    margin-right: .21333rem !important
}

.jui_mar_b8 {
    margin-bottom: .21333rem !important
}

.jui_mar_12 {
    margin: .32rem !important
}

.jui_mar_t12 {
    margin-top: .32rem !important
}

.jui_mar_l12 {
    margin-left: .32rem !important
}

.jui_mar_r12 {
    margin-right: .32rem !important
}

.jui_mar_b12 {
    margin-bottom: .32rem !important
}

.jui_mar_14 {
    margin: .37333rem !important
}

.jui_mar_t14 {
    margin-top: .37333rem !important
}

.jui_mar_l14 {
    margin-left: .37333rem !important
}

.jui_mar_r14 {
    margin-right: .37333rem !important
}

.jui_mar_b14 {
    margin-bottom: .37333rem !important
}

.jui_mar_16 {
    margin: .42666rem !important
}

.jui_mar_t16 {
    margin-top: .42666rem !important
}

.jui_mar_l16 {
    margin-left: .42666rem !important
}

.jui_mar_r16 {
    margin-right: .42666rem !important
}

.jui_mar_b16 {
    margin-bottom: .42666rem !important
}

.jui_mar_20 {
    margin: .5333rem !important
}

.jui_mar_t20 {
    margin-top: .5333rem !important
}

.jui_mar_l20 {
    margin-left: .5333rem !important
}

.jui_mar_r20 {
    margin-right: .5333rem !important
}

.jui_mar_b20 {
    margin-bottom: .5333rem !important
}

.jui_marnone {
    margin: 0 !important
}

.jui_mar_lnone {
    margin-left: 0 !important
}

.jui_mar_rnone {
    margin-right: 0 !important
}

.jui_mar_tnone {
    margin-top: 0 !important
}

.jui_mar_bnone {
    margin-bottom: 0 !important
}

.jui_h12 {
    height: .32rem;
    width: 100%
}

.jui_h16 {
    height: .42666rem;
    width: 100%
}

.jui_h20 {
    height: .5333rem;
    width: 100%
}

.jui_h30 {
    height: .8rem;
    width: 100%
}

.jui_h60 {
    height: 1.6rem;
    width: 100%
}

.jui_h80 {
    height: 2.1333rem;
    width: 100%
}

.jui_h100 {
    height: 2.6666rem;
    width: 100%
}

.jui_ellipsis_1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

.jui_ellipsis_2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.jui_ellipsis_3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.jui_flex, .jui_flex_col, .jui_flex_col_center, .jui_flex_row_center, .jui_foot_sjcon, .jui_footer {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.jui_flex_col, .jui_flex_col_center {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.jui_flex_col_center, .jui_flex_items_center, .jui_flex_row_center, .jui_foot_sjcon {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.jui_flex_items_end {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end
}

.jui_flex_justify_center, .jui_foot_sjcon {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}

.jui_flex_justify_between {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between
}

.jui_flex_justify_end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end
}

.jui_flex_wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.jui_flex1 {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.jui_flex_no {
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.jui_align_self_end {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-align-self: flex-end;
    align-self: flex-end
}

.jui_align_self_center {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center
}

.jui_public_list, .jui_public_list2 {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.jui_public_list {
    border-bottom: 1px solid #eee;
    padding: 0 .42666rem;
    height: 1.33333rem;
    overflow: hidden
}

.jui_public_list:nth-last-of-type(1) {
    border: none
}

.jui_public_list input {
    line-height: 1.3rem
}

.jui_public_list input[type=checkbox], .jui_public_list input[type=radio] {
    line-height: .53333rem
}

.jui_public_list2 {
    border-bottom: 1px solid #eee;
    padding: .32rem .42666rem
}

.jui_public_list2:nth-last-of-type(1) {
    border: none
}

.jui_public_tit {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.jui_public_tit {
    padding: .32rem .42666rem
}

.jui_public_btn {
    padding: .8rem .42666rem
}

.jui_public_btn a, .jui_public_btn button, .jui_public_btn input {
    display: block;
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    background: #7bb6f1;
    color: #fff;
    font-size: .4rem;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.jui_top_bar, .jui_top_left, .jui_top_right {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.jui_top_bar {
    height: 1.17333rem;
    line-height: 1.17333rem;
    padding: 0 .37333rem;
    background: #7bb6f1
}

.jui_top_left, .jui_top_right {
    width: 20%
}

.jui_top_left img {
    display: inline-block;
    height: .45333rem
}

.jui_top_left span {
    font-size: .32rem;
    color: #fff;
    padding-left: .16rem
}

.jui_top_middle {
    width: 60%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: .42666rem
}

.jui_top_right {
    font-size: .32rem;
    color: #000;
    cursor: pointer;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end
}

.jui_top_right img {
    height: .5333rem
}

.jui_top_fixed {
    position: fixed;
    left: 0;
    right: 0
}

.jui_htop {
    height: 1.17333rem;
    width: 100%
}

.jui_footer {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.30666rem;
    background: #fff;
    border-top: 1px solid #eee;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.jui_foot_list {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex-flex: 1;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: relative
}

.jui_foot_list span {
    color: #bbb;
    font-size: .64rem
}

.jui_foot_list p {
    font-size: .293333rem;
    color: #666
}

.jui_foot_list.jui_hover p, .jui_foot_list.jui_hover span {
    color: #7bb6f1
}

.jui_foot_list .jui_badge {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: .14rem
}

.jui_foot_sjbar {
    position: relative;
    background: #fff;
    width: 1.6rem;
    height: 1.6rem;
    top: -.4rem;
    -webkit-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0;
    border-top: 1px solid #eee
}

.jui_foot_sjcon {
    position: relative;
    top: .16rem;
    background: #7bb6f1;
    width: 1.12rem;
    height: 1.12rem
}

.jui_foot_sjcon span {
    color: #fff
}

.jui_foot_sjbar p {
    padding-top: .2rem
}

.jui_none_bar {
    padding-top: 2rem;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.jui_none_bar img {
    width: 2.6rem;
    margin-bottom: 10px
}

.jui_none_bar p {
    font-size: .4rem;
    color: #999
}

.jui_none_btn {
    width: 6rem;
    height: .96rem;
    color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: .3733rem;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}

.jui_box_bar {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.jui_box_conbar {
    position: relative;
    left: 50%;
    top: 14%;
    width: 7.6rem;
    margin-left: -3.8rem
}

.jui_box_con {
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden
}

.jui_box_top img {
    width: 100%
}

.jui_box_close {
    position: absolute;
    bottom: -1.8rem;
    width: 1rem;
    height: 1rem;
    left: 50%;
    margin-left: -.5rem;
    color: #fff;
    text-align: center;
    font-size: .69333rem;
    cursor: pointer
}

.jui_box_pub_tit {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #000;
    padding: .32rem;
    font-size: .4rem
}

.jui_box_pub_middle {
    text-align: center;
    line-height: .58666rem;
    padding: .42666rem;
    font-size: .37333rem;
    line-height: .58666rem;
    color: #999
}
